body {
  background-color: #fff;
  color: #556270;
  font-family: 'Raleway', arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}
h1, h2 {
  font-weight: 800;
}
p, ol, ul, td {
  font-family: 'Raleway', arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

// a {
//   color: #000;

//   &:visited {
//     color: #666;
//   }

//   &:hover {
//     color: #fff;
//     background-color: #000;
//   }
//}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 15px 0 15px 15px;
  display: inline-block;
}

#error_explanation {
  position: relative;
  width: 375px;
  background: #f5e0e2;
  border: 3px solid #c44d58;
  padding: 15px 0;
  margin: 20px 0 20px 16px;

  h2 {
    display: none;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
#error_explanation:after,
#error_explanation:before {
  bottom: 100%;
  left: 25px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
}
#error_explanation:after {
  border-color: rgba(245, 224, 226, 0);
  border-bottom-color: #f5e0e2;
  border-width: 10px;
  margin-left: -10px;
}
#error_explanation:before {
  border-color: rgba(196, 77, 88, 0);
  border-bottom-color: #c44d58;
  border-width: 14px;
  margin-left: -14px;
  }
